<h1 mat-dialog-title>{{ heading }}</h1>
<div mat-dialog-content>
    <form #f="ngForm">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput [ngModel]="editData?.doctorname" name="doctorname" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput [ngModel]="editData?.doctoraddress" name="doctoraddress" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Phone number</mat-label>
            <input matInput [ngModel]="editData?.doctorphonenumber" name="doctorphonenumber" matInput required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Occupation</mat-label>
            <input matInput [ngModel]="editData?.occupation" name="occupation" matInput required>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button  color="warn" mat-dialog-close>Close</button>
    <button mat-raised-button  style="margin-left: 8px;" color="primary" (click) = "addDoctor(f)">{{actionBtn}}</button>
</div>